# QA targets

PRODUCTION_PROJECT_REF=zzpmdiivewmvhiszmdzh
PRODUCTION_POLICY=READ_REFERENCE_ONLY

SANDBOX_PROJECT_REF=qrvdfqpxutymmlcplsal
SANDBOX_POLICY=RESET_ONLY_AFTER_CANONICAL_SOURCES_CHECK_PASS

EXPECTED_CLIENT_F42_VERSION=4.2.0-rc1.2
EXPECTED_CONTROL_PLANE_F42_VERSION=4.2.0-rc1.1
EXPECTED_CLIENT_SHA256=25fb82470255878346f332fd153ac2087bf825b08e367a71fed3741f03a5de3d
